.greeting-section {
  margin-bottom: 8px;
}

.greeting-text {
  margin: 0;
  display: flex;
  align-items: baseline;
}

.greeting-greeting {
  color: #C7C7C7;
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0;
}

.greeting-name {
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0;
}

