.market-sentiment-container {
  width: 17%;
  height: 77px;
  position: relative;
  border-radius: 10.67px;
  background: linear-gradient(162.16deg, #000000 -5.96%, #3CFF49 306.08%);
  opacity: 1;
  overflow: hidden;
}

.market-sentiment-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.market-sentiment-pattern {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.market-sentiment-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  height: 100%;
}

.market-sentiment-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.market-sentiment-label {
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.market-sentiment-value {
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.market-sentiment-bull {
  width: 92px;
  height: 60px;
  object-fit: contain;
  opacity: 0.6;
  position: relative;
  top:10px;
}

