.app {
  width: 100%;
  height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}


.content-area {
  flex: 1;
  background-color: black;
  overflow-y: auto;
}

