* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

html {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

